process {
  container = 'public.ecr.aws/amazonlinux/amazonlinux:2'
}

aws {
  region = "us-west-2"
}

params {
  /*
 * Defines the pipeline inputs parameters (giving a default value for each for them) 
 * Each of the following parameters can be specified as command line options
 */

  outdir = "s3://genomics-workflow-core/Results/GenomeMining"
  project = "00_Test"
  prefix = "output"
}