manifest {
  name = 'nf-genome-mining'
  author = 'Sunit Jain'
  homePage = 'https://github.com/FischbachLab/nf-genome-mining'
  description = 'Pipeline to convert annotated genome data from IMG to AWS Neptune property graph format'
  mainScript = 'main.nf'
  defaultBranch = 'main'
  version = '1.0.0'
}

includeConfig "$baseDir/conf/aws_batch.config"

params {
  /*
 * Defines the pipeline inputs parameters (giving a default value for each for them) 
 * Each of the following parameters can be specified as command line options
 */

  outdir = "s3://genomics-workflow-core/Results/GenomeMining"
  project = "00_Test"
  prefix = "output"

  job_container = "fischbachlab/mafpyds:20220707130929"
}

process 
{
	maxRetries = 3
	executor = 'awsbatch'
	queue = 'default-maf-pipelines'
	cleanup = true
  cache = false

  withName: img_parser
	{
		time =  '1h'
		cpus = 2
		memory = '8 GB'	
		errorStrategy = 'retry'
	}
}